* {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth !important;
}

html {
  scroll-padding-top: 64px;
}

body {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 3.5px solid transparent;
  background-clip: content-box;
  background-color: var(--chakra-colors-gray-500);
}

.skill-card.animate-skill {
  transition: opacity 1s ease;
}

.skill-card.animate-skill .skill .skill-image {
  animation-delay: inherit !important;
  animation-fill-mode: both !important;
  animation: zoom 0.5s ease;
}

.skill-card.animate-skill .skill .skill-name {
  animation-delay: inherit !important;
  animation-fill-mode: both !important;
  animation: fade 0.5s ease;
}

.skill-card.animate-skill .skill .skill-bar {
  animation-delay: inherit !important;
  animation-fill-mode: both !important;
  animation: fade 0.5s ease;
}

.skill-card.animate-skill .skill .skill-bar > div {
  animation-delay: inherit !important;
  animation-fill-mode: both !important;
  animation: width 2s ease;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes width {
  from {
    width: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
