.swiper-pagination-bullet-active {
  background: var(--chakra-colors-gray-500) !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: var(--swiper-navigation-size) !important;
  background: var(--chakra-colors-blackAlpha-400) !important;
  border-radius: 1000px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--chakra-colors-white) !important;
  font-size: 1.5rem !important;
}
